{% extends "base.html" %}
{% block extrajs %}
<!-- You should place your js files here -->
<!-- e.g. <script src="/static/js/index.js"></script> -->
{% endblock%}

{% block title %}Account{% endblock %}

{% block nav_account %}class="active"{% endblock %}

{% block content %}

<div class="container">
    <h2>Account Balance: {{ balance }}</h2>
</div>

<div class="container">
    <div class="row" style="margin-top: 40px">
        <div class="col-sm-6">
            <form method="POST">
                <button type="submit" class="btn form-control btn-default">Add New Expenses</button>

            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="margin-top: 40px">
        <div class="col-sm-6">
            <form method="POST">
                <button type="submit" class="btn form-control btn-default">Add To Balance</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="margin-top: 40px">
        <div class="col-sm-6">
            <form method="POST">
                <button type="submit" class="btn form-control btn-default">Financial Forecast</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}