<!doctype html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Budget Buddy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static' , filename='index.js')}}"></script>
    {% block extrajs %}{% endblock%}
    <style>
        a {
            color: inherit;
            text-decoration: none;
        }
    </style>
    {% endblock %}
</head>
<body>
<!-- We have done a similar example: Example 13 -->
<nav class="navbar navbar-default">
    <!-- .container-fluid class provides a full width container, spanning the entire width of the viewport -->
    <div class="container-fluid">
        <!-- .container class provides a responsive fixed width container -->
        <!-- <div class="container"> -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">BudgetBuddy</a>
        </div>
        <!-- Used on a <ul> container that contains the list items with links inside a navigation bar -->
        <ul class="nav navbar-nav">
            <li {% block nav_index %}{% endblock %}><a href="/">Home Page</a></li>
            <li {% block nav_log_in %}{% endblock %}><a href="/log_in">Log In</a></li>
            <li {% block nav_account %}{% endblock %}><a href="/account">Account</a></li>
            <li {% block nav_monthly__xpenses %}{% endblock %}><a href="/monthly_expenses">Monthly Expenses</a></li>
            <li {% block nav_registration %}{% endblock %}><a href="/registration">Registration</a></li>
            <li {% block nav_forecast %}{% endblock %}><a href="/forecast">Forecast</a></li>
            <li {% block nav_income %}{% endblock %}><a href="/income">Income</a></li>
        </ul>
    </div>
</nav>
<div id="content">{% block content %}{% endblock %}</div>

</body>
</html>